ipython
omegaconf
einops==0.4.1
pytorch-lightning==1.7.7 
torchmetrics 
transformers
safetensors
kornia
accelerate
ftfy
jsonmerge
matplotlib
resize-right
timm
torchdiffeq
scikit-learn
torchsde
open-clip-torch
numpngw
triton; sys_platform == 'linux'
xformers
